@import './styles/vars.css';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, video {
    display: block;
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    font-weight: var(--weight-regular);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    line-height: var(--leading-normal);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: var(--weight-bold);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-tight);
}

a {
    text-decoration: none; 
    color: inherit;        
    cursor: pointer;
}